{% extends "base.html" %}
 

{% block content %}

<h2>{{ deck.deck }}</h2>

 

<h3>{{ deck.deck_name }}</h3>

 
 
<div>
<ol>
    {% for flashcard in deck.flashcards.all %}
    <li>
    <div><a href="{% url 'view_answer' card_pk=flashcard.pk %}">{{ flashcard.prompt }}</a></div>
    
    <form></form><input type='checkbox'>{{ flashcard.star }}</input></form>
    
    <div>
    <button type="submit"><a class="" href="{% url 'delete_flashcard' card_pk=flashcard.pk %}">delete flashcard</a></button>
    </div>

    <div>
    <button type="submit"><a href="{% url 'edit_flashcard' card_pk=flashcard.pk %}">edit flashcard</a>
    </button>
    </div>
    <br>
    </li>
    {% endfor %}
</ol>
</div>


<p><a href="{% url 'add_flashcard' deck_pk=deck.pk %}">add flashcard</a></p>

<div>
<p class="">
    <a class="" href="{% url 'delete_deck' deck_pk=deck.pk %}">delete deck</a>
</p>

<a href="{% url 'edit_deck' deck_pk=deck.pk %}">
        <button type="submit">edit deck</button></a>



{% endblock %}

