{% extends "base.html" %}

{% block content %}

<h2>edit this flashcard</h2>

<h4>prompt: {{ flashcard.prompt }}</h4>
<h4>answer: {{ flashcard.answer }}</h4>

<form action="{% url 'edit_flashcard' card_pk=flashcard.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}  
    <div>
       
        <button type="submit">update flashcard
        </button>
        
    </div>
</form>
<br>
 
<a class="" href="{% url 'deck_detail' deck_pk=flashcard.deck.pk %}">return to deck</a>
 

{% endblock %}